/*@import "./vars.css";*/

.container {
    display: flex;
    padding: 5%;
    background: black;
    margin: 50px;
    border-radius: 15px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.sobre {
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.75px;
text-transform: uppercase;
}

.SobreImg {
    width: 562px;
    height: auto;
    flex-shrink: 0;
}

.items {
    display: flex;
    width: 600px;
    height: 128px;
    gap: 50px;
    padding: 20px;
    margin-left: 50px;
}

.itemsImg {
    width: 50px;
    height: 50px;
}

.itemsTitle {
font-size: 25px;
font-weight: 600;
}

.itemsTxt {
font-size: 25px;
font-weight: 400;
}